
/*GENERAL*/
.container.fluid {
	width: 100%;
}

.container {
	padding: 0 !important;
}

ul {
	text-align: center;
	list-style-type: none;
}

body {
	padding-top: 70px;
	padding-bottom: 50px;
	position: relative;
	background-image: url("red-brick-2.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

.content-block {
	margin-top:5px;
	margin-bottom:5px;
	background-color: #ffffff;
	border: 1px solid #C2765E;
}

.content {
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px !important;
}

.image-block {
	padding: 0px !important;
}

img {
	width: 100%;
}

.thumbnail {
	border: none !important;
	margin-bottom: 0 !important;
}

/*MAP ISSUES*/
.block {
	text-align: center;
}

.map iframe {
	border: 3px solid #b9b9b9 !important;
}

 /*FOOTER*/
.content-block-footer {
	position: fixed !important;
	bottom: 0px;
	width: 100% !important;
	height: 35px !important;
	background:rgba(255,255,255,0.5) !important;
}

ul.social {
	padding-top: 3px;
}
.social li {
	display: inline !important;
	float: center;
}
.social img {
	width: 25px;
	height: 25px;
}

/*NAVIGATION*/

.navbar {
	background:rgba(255,255,255,0.5); /*<this transparency code copied from */
}

ul.links {
	float:right;
}

.navbar-header {

}

.navbar-brand {
	height: 50px !important;
	padding: 0px !important;
}

.navbar-nav{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

/*ACCORDION MENU*/

div.custom-accordion {
	border: 2px solid #333333;
	background-color: #ffffff !important;
}

.panel {
	border:none !important;
}

.panel-group {
	margin-bottom: 5px !important;
}

.panel-heading {
	background-color: #ffffff !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #333333 !important;
}

h3.panel-title{
	text-align: center;
	font-family: 'Bevan', cursive;
}

.panel-body{
	background-color: #ffffff !important;
	border: none !important;
}
h4 {
	font-weight: bold !important;
}

a.food-link:link {
	color: #122B40 !important;
}

a.food-link:visited {
	color: #122B40 !important;
	text-decoration: underline;
}
a.food-link:hover {
	color: #122B40 !important;
	text-decoration: underline;
}
a.food-link:active {
	color: #122B40 !important;
	text-decoration: underline;
}
/*GENERAL FONTS */
p {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Lobster', cursive !important;
	text-decoration: underline !important;
}

.content li {
	font-family: 'Roboto', sans-serif;
}

.hours ul {
	text-align: center;
	margin-top: 30px;
	font-size: 125%;
}

li.special {
	font-family: 'Bevan', cursive;
}

.events ul {
	text-align: center;
	margin-top: 40px;
	font-size: 125%;
}

/*MODAL*/

.modal-title {
	font-family: 'Lobster', cursive !important;
	font-size: 125% !important;
}

input.short {
	width: 50px !important;
}

input.medium {
	width: 120px !important;
}

.buttons {
	margin-bottom: 15px !important;
}

.buttons li {
	display:inline !important;
}

.btn {
	border-radius: 0 !important;
}

.btn-primary.btn-main {
	font-family: 'Lobster', cursive !important;
}

.btn-lg {
	height: 50px !important;
	font-size: 150% !important;
	margin: 5px !important;
}

.btn-internal {
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
	background-color: #b9b9b9 !important;
	border: none !important;
	color: #ffffff !important;
	outline: none !important;
}

.btn-default .btn-default:hover, .btn-default:active {
	color: #303030 !important;
	outline: none !important;
}

/*SOME BUTTON CODE INFLUENCED BY INFO FOUND ON http://bootstrapbay.com/blog/bootstrap-button-styles/ */
