.container.fluid {
	width: 100%;
}

ul {
	text-align: center;
	list-style-type: none;
}

body {
	padding-top: 70px;
	position: relative;
}


.content-block {
	margin-top:5px;
	margin-bottom:5px;
	background-color: #eeeeee;
}

.image-block {
	padding: 0px !important;
}
	
.navigation {
	float:right;
}

.thumbnail {
	border: none !important;
	margin-bottom: 0 !important;
}

img {
	width: 100%;
}

.map {
	padding: 5px;
}

div.custom-accordion {
	border: solid black 2px;
	background-color: #ffffff !important;
}

.panel {
	border:none !important;
}

.panel-group {
	margin-bottom: 0 !important;
}

.panel-body{
	background-color: #ffffff !important;
	border: none !important;
}

.panel-heading {
	background-color: #ffffff !important;
	border: none !important;
}

.panel-title {
	text-align: center;
}

/*FOLLOWING CODE TAKEN FROM http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ 
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
END JULIENMELISSAS CODE*/


